.core{
  
 margin-left: 12rem;
 margin-right: 12rem;
  
}
h1{
  color: rgb(104, 30, 30);
  font-weight: 300;
  margin: 1rem;
  margin-left: 16rem;
  font-size: 4rem;
}
img{
  margin: 2rem;
  width:60%;
  margin-left: 10rem;
}
h3{
  font-weight: 400;
  margin-bottom: 2rem;
}
li{
  margin-left: 2rem;
  margin-top: 1rem;
}
li p{
  margin-left: 1rem;
}
.start
{
  margin-left: 20rem;
  margin-top: 2rem;
}
.core a{
  margin-bottom: 2rem;
}