/* Writing general css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;

}

/* The root is use to add variables in inside the css and declaring the value which we can use it when ever we need
 */
:root {
   /* --color-font : #1f2641; */
   --color-primary: #6c63ff;
   --color-success: #00bf8e;
   --color-warning: #f7c94b;
   --color-danger: #f75842;
   --color-danger-varient: rgba(247, 88, 66, 0.4);
   --color-white: #fff;
   --color-light: rgba(255, 255, 255, 0.7);
   --color-black: #000;
   --color-bg: #1f2641;
   --color-bg1: #2e3267;
   --color-bg2: #424890;
   --color-alert:red;


    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body {
   
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background-color: var(--color-white);
    overflow-x: hidden;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
    /* we want our conatianer in middle */
    color: var(--color-bg);
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4 rem;
    margin-top:20px;
}

h2 {
    font-size: 2.0rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.8rem;
  
}

a {
    color: var(--color-bg);
    
    
}

img {
    width:50%;
    display: block;
    padding-left: 20vh;
   padding-right: 20vh;
    object-fit: cover;
    margin-top: 20px;
   
  
}

.btn {
    display: inline-block;
    background-color: var(--color-bg);
    color: var(--color-bg1);
    border: 1px solid transparent;
    padding: 1rem 2rem;
    font-weight: 500;
    border-radius: 1rem;
    transition: var(--transition);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;


}

.btn:hover {
    background: transparent;
    color: var(--color-font);
    border-color: var(--color-font);
    border: 0.2rem solid;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.btn-primary {
    background: var(--color-bg);
    color: var(--color-white);
    border-radius: 1rem;
    margin-right: 2rem;
}
.logo{
    color: var(--color-bg);
    font-size: 2rem;
    font-family: 'Permanent Marker';
}





/* ===============NAVBAR========================= */

/* .bg-image{
    background-image: url('https://img.freepik.com/free-vector/back-college-school-illustration-students-sitting-bench-reading-books_33099-363.jpg?w=2000');
    padding: 19rem ;
    

} */


nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    /* position: fixed; */
    /* If we scroll our page the navbar should be fixed */
    top: 0;
    z-index: 11;

}


/* Change navbar style when scroll */
.window-scroll {
    background: var(--color-white);
    box-shadow: rgba(0, 0, 0, 01);
    /* color: var(--color-white); */
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;

}

.nav__menu a {
    font-size: 0.9rem;
    transition: var(--transition);
    color: var(--color-bg);
}

.nav__menu a:hover {
    color: var(--color-alert);
}



/* ================     Header      =================*/
.landingpage{
    background-color: white;
    color: var(--color-bg);
}


header {
    position: relative;
    top: 8rem;
    overflow: hidden;
    
}

.header__container {
    align-items: center;
    gap: 5rem;
    height: 100%;

}
.header{
   text-align: center;
   padding-left: 35vh;
   padding-right: 35vh;
}
.header h1{
    font-size: 4rem;
}
.header p {
    margin: 1rem 0 11.4rem;
}

.list{
    text-align:left;
    padding-left: 42vh;
   padding-right: 42vh;
}
.CONTAINER {
    text-align:left;
    padding-left: 42vh;
    margin-top: 20px;
 padding-right: 42vh; 
 margin-bottom: 20px;
}
.bigboy a{
    text-align:left;
    text-align:left;
    padding-left: 42vh;
   padding-right: 42vh; 
   color:#f00;
   /*margin-bottom: 60px;*/
   
}
.list h4{
    margin-top: 10px;
}
u {
    text-decoration: #f00 underline;
}





footer{
    background: var(--color-bg1);
    padding-top: 4rem;
    margin-top: 5rem;    font-size: 0.9rem;
    flex-shrink: 50;
}
.footer__container{
    display: grid;
    
    grid-template-columns: repeat(4 ,1fr);
}
.footer__container  div h4{
    margin-bottom: 1.8rem;
    font-size: 1.2rem ;
    text-transform: capitalize;
    color: var(--color-white);
}

.footer__1 p
{
    margin:0 0 0rem;

}
.footer ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	/*color: var(--color-success);*/
	display: block;
	transition: all 0.3s ease;
}
.footer__4 p{
    font-size: 1rem;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: var(--color-danger);
	display: block;
	transition: all 0.3s ease;

}
footer ul li
{
    margin-bottom: 0.7rem;
}
footer ul li a:hover{
    color: var(--color-alert);
	/*padding-left: 0.5rem;*/
     text-decoration: underline;
}
.footer .social-links a{
    display:inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 80%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer__copyright{
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-white);
    color: var(--color-white);
}

.footer .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}