/* Writing general css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;

}

/* The root is use to add variables in inside the css and declaring the value which we can use it when ever we need
 */
:root {
   /* --color-font : #1f2641; */
   --color-primary: #6c63ff;
   --color-success: #00bf8e;
   --color-warning: #f7c94b;
   --color-danger: #f75842;
   --color-danger-varient: rgba(247, 88, 66, 0.4);
   --color-white: #fff;
   --color-light: rgba(255, 255, 255, 0.7);
   --color-black: #000;
   --color-bg: #1f2641;
   --color-bg1: #2e3267;
   --color-bg2: #424890;


    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body {
   
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background-color: var(--color-bg1);
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4 rem;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.logo{
    color: white;
    font-size: 2rem;
    font-family: 'Permanent Marker';
}
/*navbar*/

nav {
    background:var(--color-bg1);
    height: 5rem;
    position: fixed;
    width: 100vw;
    /* If we scroll our page the navbar should be fixed */
    top: 0;
    z-index: 11;
    border-radius: 0.2rem;

}
/* Change navbar style when scroll */
.window-scroll {
    background: var(--color-white);
    box-shadow: rgba(0, 0, 0, 01);
    /* color: var(--color-white); */
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
   
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
    font-weight: 400;
    color: white;

}

.nav__menu a {
    font-size: 0.9rem;
    transition: var(--transition);
    color: var(--color-white);
}

.nav__menu a:hover {
    color: var(--color-success);
}

/*end navbar*/



/*pg 1*/

header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: auto;
    /* margin-bottom: 3rem; */
  
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header__left h1{
    margin-bottom: 2rem;
    margin-left: 5rem;
    font-weight: 200;
    font-size: 4rem ;
    font-family: 'Poppins', sans-serif;
    color:var(--color-warning);
 }
.header__left p{
    margin-left: 5rem ;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.header__left{
    margin-top: -12rem;
}
.header__right-image{
      width: 80%;
      margin-bottom: 8rem;
      margin-top: -3rem;
      margin-left: auto;
      margin-right: 32rem;
}

/*page 2*/
article{
    background-color:var(--color-bg);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    margin-bottom: 2rem;
   
}


.courses h2{
    color: var(--color-bg);
}
.courses__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
   margin-top: 5rem;
   margin-left: 15rem;
   margin-right: 15rem;
}

.types {
    background: whitesmoke;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
  padding: auto;
  margin-top: 10rem;
  
}

.course__image{
    width: 15rem;
   margin : 2rem;
  
}
.course:hover {
    background: var(--color-bg1);
    border-color: var(--color-primary);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.course__info {
    padding: 2rem;
    
}

.course__info p {
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}
.course__info h3{
    color: var(--color-success);
}
.outdoor{
    margin-top: -4rem;
}





.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    border: 1px solid transparent;
    padding: 1rem ;
    font-weight: 500;
    transition: var(--transition);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}

.image1{
    margin-top: -1rem;
}
.image2{
    margin-top: -1rem;
}


.image3{
 
    margin-top: 2rem;
    width: 80%;
    margin-left: 2rem;

}

.image4{
    margin-bottom: 5rem;
    width: 110%;
}

.image5{
    margin-bottom: 4rem;
    width: 100%;
}


.image6{
    margin-bottom: 1rem;
}






/*footer*/
footer{
    background: var(--color-bg1);
    padding-top: 5rem;
    font-size: 0.9rem;
    flex-shrink: 50;

}
.footer__container{
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4 ,1fr);
}
.footer__container  div h4{
    margin-bottom: 1.8rem;
    font-size: 1.2rem ;
    text-transform: capitalize;
}



.footer__logo{
    margin: 2rem;
  
}   
.footer ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer__4 p{
    font-size: 1rem;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;

}
footer ul li
{
    margin-bottom: 0.7rem;
}
footer ul li a:hover{
    color: #ffffff;
	padding-left: 0.5rem;

}
.social-links{
    margin: 2rem;
}
.footer .social-links a{
    display:inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 80%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer__copyright{
    text-align: center;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-bg2);

}

.footer .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*end*/
  